<div *ngIf="showPresent" class="present-container">
  <div class="present fixed">
    <img src="../assets/images/present.png" alt="подарок">
  </div>
  <div class="present-text">
    <p>Оформите заказ
      и получите подарок!</p>
  </div>
</div>

<main>
  <section class="hero">
    <div class="container">
      <div class="hero-text">
        <h1 class="hero-title">Мягкие французские
          пироженки Macaroons</h1>
        <p class="hero-description">
          Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками Macaroon!
        </p>
        <div class="hero-action">
          <button (click)="scrollToBlock(productsElement)" class="btn hero-btn">
            Выбрать макарун
          </button>
        </div>
      </div>
      <div class="hero-image pulse">
        <img src="../assets/images/hero-macaroons.png" alt="Разноцветные макаруны в коробке">
      </div>
    </div>
  </section>

  <section class="advantages">
    <div class="container">
      <h2 class="advantages-title">Мы печём для вас вкуснейшие макаруны уже более 10 лет</h2>
      <p class="advantages-description">Все пироженки мы готовим только из натуральных и качественных
        продуктов, без консервантов, ароматизаторов, красителей. Используем в приготовлении сливочное
        масло 82,5%, без дрожжей, маргарина, разрыхлителей и улучшителей муки.</p>
      <div class="advantages-image">
        <img src="../assets/images/advantages-bg.png" alt="Клубничный макарун">
      </div>
      <div *ngFor="let advantage of advantages let i = index" [class]="'advantages-item' + ' advantage-' + (i+1)">
        <div class="number-bg">
          <p class="advantage-number">{{i+1}}</p>
        </div>
        <h3 class="advantage-title">{{advantage.title}}</h3>
        <p class="advantage-description">{{advantage.description}}</p>
      </div>

    </div>
  </section>

  <section class="products" #productsElement>
    <div class="container">
      <h2 class="products-title">Выберите свой макарун</h2>
      <div class="products-list">
        <div *ngFor="let product of products" class="product">
          <div class="product-image">
            <img src="../assets/images/{{product.image}}" alt="">
          </div>
          <h3>{{product.title}}</h3>
          <div class="product-flex">
            <div class="product-text">
              <p>{{product.amount}}</p>
              <p>{{product.price}}</p>
            </div>
            <div class="product-action">
              <button (click)="addToCart(product, orderElement)" class="btn product-btn">
                Заказать
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="order" #orderElement>
    <div class="container">
      <div class="bg-image-shake-left">
        <img src="../assets/images/berry-jmp1.png" alt="">
      </div>
      <div class="bg-image-shake-right">
        <img src="../assets/images/berry-jmp2.png" alt="">
      </div>

      <div class="bg-image">
        <img src="../assets/images/order-bg.png" alt="">
      </div>
      <div class="order-text">
        <h2 class="order-title">
          Закажите макарун!
        </h2>
        <p class="order-description">
          Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!
        </p>
        <form action="">
          <h3>Ваш выбор</h3>
          <input [(ngModel)]="formInfo.position" type="text" id="order-product" placeholder="Напишите, что хотите заказать..." name="product">
          <h3>Заполните данные для заказа</h3>
          <input [(ngModel)]="formInfo.name" type="text" id="order-info" placeholder="Ваше имя" name="name">
          <input [(ngModel)]="formInfo.phone" type="tel" placeholder="+375 (__) ___ - __ - __" name="phone">
          <button class="btn order-btn">Оформить заказ</button>
        </form>
      </div>
    </div>
  </section>
</main>
