
<div *ngIf="showPresent" class="present-container">
  <div class="present fixed">
    <img src="../assets/images/present.png" alt="подарок">
  </div>
  <div class="present-text">
    <p>Оформите заказ
      и получите подарок!</p>
  </div>
</div>
<header class="header">
  <div class="container">
    <div class="burger" (click)="open(menu)">
      <div class="burger-top"></div>
      <div class="burger-center"></div>
      <div class="burger-bottom"></div>
    </div>
    <div class="logo">
      <img src="./assets/images/logo.png" alt="MACAROONS">
    </div>
    <nav class="menu" #menu>
      <div (click)="close(menu, null)" class="close">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 492 492" style="enable-background:new 0 0 492 492;" xml:space="preserve">
                <g>
                    <g>
                        <path d="M300.188,246L484.14,62.04c5.06-5.064,7.852-11.82,7.86-19.024c0-7.208-2.792-13.972-7.86-19.028L468.02,7.872
                            c-5.068-5.076-11.824-7.856-19.036-7.856c-7.2,0-13.956,2.78-19.024,7.856L246.008,191.82L62.048,7.872
                            c-5.06-5.076-11.82-7.856-19.028-7.856c-7.2,0-13.96,2.78-19.02,7.856L7.872,23.988c-10.496,10.496-10.496,27.568,0,38.052
                            L191.828,246L7.872,429.952c-5.064,5.072-7.852,11.828-7.852,19.032c0,7.204,2.788,13.96,7.852,19.028l16.124,16.116
                            c5.06,5.072,11.824,7.856,19.02,7.856c7.208,0,13.968-2.784,19.028-7.856l183.96-183.952l183.952,183.952
                            c5.068,5.072,11.824,7.856,19.024,7.856h0.008c7.204,0,13.96-2.784,19.028-7.856l16.12-16.116
                            c5.06-5.064,7.852-11.824,7.852-19.028c0-7.204-2.792-13.96-7.852-19.028L300.188,246z"/>
                    </g>
                </g>
        </svg>
      </div>
      <ul>
        <li (click)="close(menu, productsElement)" class="menu-item">
          <a href="#">Пироженки</a>
        </li>
        <li (click)="close(menu, aboutUsElement)" class="menu-item">
          <a href="#">О нас</a>
        </li>
        <li (click)="close(menu, orderElement)" class="menu-item">
          <a href="#">Оформить заказ</a>
        </li>
      </ul>
    </nav>
    <div class="phone">
      <a [href]="phoneHref">{{phone}}</a>
    </div>
  </div>
</header>
<main>
  <section class="hero">
    <div class="container">
      <div class="hero-text">
        <h1 class="hero-title">Мягкие французские
          пироженки Macaroons</h1>
        <p class="hero-description">
          Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками Macaroon!
        </p>
        <div class="hero-action">
          <button (click)="scrollToBlock(productsElement)" class="btn hero-btn">
            Выбрать макарун
          </button>
        </div>
      </div>
      <div class="hero-image pulse">
        <img src="../assets/images/hero-macaroons.png" alt="Разноцветные макаруны в коробке">
      </div>
    </div>
  </section>

  <section class="advantages" #aboutUsElement>
    <div class="container">
      <h2 class="advantages-title">Мы печём для вас вкуснейшие макаруны уже более 10 лет</h2>
      <p class="advantages-description">Все пироженки мы готовим только из натуральных и качественных
        продуктов, без консервантов, ароматизаторов, красителей. Используем в приготовлении сливочное
        масло 82,5%, без дрожжей, маргарина, разрыхлителей и улучшителей муки.</p>
      <div class="advantages-image">
        <img src="../assets/images/advantages-bg.png" alt="Клубничный макарун">
      </div>
      <div *ngFor="let advantage of advantages let i = index" [class]="'advantages-item' + ' advantage-' + (i+1)">
        <div class="number-bg">
          <p class="advantage-number">{{i+1}}</p>
        </div>
        <h3 class="advantage-title">{{advantage.title}}</h3>
        <p class="advantage-description">{{advantage.description}}</p>
      </div>
    </div>
  </section>

  <section class="products" #productsElement>
    <div class="container">
      <h2 class="products-title">Выберите свой макарун</h2>
      <div class="products-list">
        <div *ngFor="let product of products" class="product">
          <div class="product-image">
            <img src="../assets/images/{{product.image}}" alt="">
          </div>
          <h3>{{product.title}}</h3>
          <div class="product-flex">
            <div class="product-text">
              <p>{{product.amount}}</p>
              <p>{{product.price}}</p>
            </div>
            <div class="product-action">
              <button (click)="addToCart(product, orderElement)" class="btn product-btn">
                Заказать
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="order" #orderElement>
    <div class="container">
      <div class="bg-image-shake-left">
        <img src="../assets/images/berry-jmp1.png" alt="">
      </div>
      <div class="bg-image-shake-right">
        <img src="../assets/images/berry-jmp2.png" alt="">
      </div>

      <div class="bg-image">
        <img src="../assets/images/order-bg.png" alt="">
      </div>
      <div class="order-text">
        <h2 class="order-title">
          Закажите макарун!
        </h2>
        <p class="order-description">
          Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!
        </p>
        <form action="">
          <h3>Ваш выбор</h3>
          <input [(ngModel)]="formInfo.position" type="text" id="order-product" placeholder="Напишите, что хотите заказать..." name="product">
          <h3>Заполните данные для заказа</h3>
          <input [(ngModel)]="formInfo.name" type="text" id="order-info" placeholder="Ваше имя" name="name">
          <input [(ngModel)]="formInfo.phone" type="tel" placeholder="+375 (__) ___ - __ - __" name="phone">
          <button class="btn order-btn">Оформить заказ</button>
        </form>
      </div>
    </div>
  </section>
</main>
<footer class="footer">
  <div class="container">
    <div class="logo">
      <img src="./assets/images/logo.png" alt="MACAROONS">
    </div>
    <div class="rights">
      <p>Все права защищены, 2020</p>
    </div>
    <div class="socials">
      <a [href]="instagram">
        <img src="./assets/images/instagram.png" alt="">
        <p>Мы в Instagram</p>
      </a>
    </div>
    <div class="phone">
      <a [href]="phoneHref">{{phone}}</a>
    </div>
  </div>
</footer>
